.azul {
    color: blue;
}

.verde {
    color: green;
}

.rojoob {
    color: rgb(155, 1, 1);
}

.violeta {
    color: purple;
}

.azulob {
    color: rgb(0, 0, 100);
}

.rojo {
    color: red;
}

img {
    width: 90%;
}